.content {
    display: grid;
    grid-template-columns: minmax(160px, 20%) 1fr;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.single > div:nth-child(2) {
    padding-left: 24px;
}
.pooling {
    cursor: pointer;
}
.poolingRota {
    cursor: pointer;
    animation: turnX 0.6s linear infinite;
    display: inline-block;
}
@keyframes turnX {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
