

.container {
    padding-left: 120px;
    gap: 24px;
    display: flex;
    gap: 12px;
    /* grid-template-columns: 1fr 1fr; */
    /* justify-content: right; */
  
}
.container>div:nth-child(1){
   /* justify-items: right; */
   /* align-items: center; */
   /* align-items:right;
   align-content: right;
   justify-content: right;
   justify-items: right; */
}
.container>div:nth-child(2){
    
}
.container>div:nth-child(3){
    /* grid-row: 1/4; */
    /* grid-column: 1/4; */
}